.pagina-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    background-color: #181A1B;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.item p {
    color: white;

}

.item-left {
    flex-direction: row;
}

.item-right {
    flex-direction: row;
}

.imagen {
    width: 400px; /* Ajusta el tamaño según tus necesidades */
    height: 300px; /* Ajusta el tamaño según tus necesidades */
    object-fit: cover; /* Mantiene la proporción sin distorsionar la imagen */
    border-radius: 5px;
}

.texto-container {
    max-width: 100%;
    padding: 0 50px;
}

.texto {
    font-size: 17px;
    color: #333;
    line-height: 1;
    margin-bottom: 10px;
}
